<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_final"
        android:label="Flux"
        android:roundIcon="@mipmap/logo_final_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".useredit.ChangeEmail"
            android:exported="false" />
        <activity
            android:name=".useredit.AccountDelete"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.EditExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".useredit.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".EditDetails"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LogInActivity"
            android:exported="false" />
    </application>

</manifest>